@model FinalProject1_VO.NoteVO
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>

                        <div class="login-logo fa-pull-left">
                            <a href="#"><b>Notice</b>Details</a>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.note_subject, new { htmlAttributes = new { @class = "form-control", placeholder = "제목", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-6">
                                @Html.EditorFor(model => model.note_userid, new { rows = 15, htmlAttributes = new { @class = "form-control", placeholder = "작성자", @readonly = "readonly" } })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.note_contents, new { @class= "form-control", @readonly = "readonly", rows=15})
                                
                            </div>
                        </div>

                    </fieldset>
                </form>
                <div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Edit", "Note" ,new { id = Model.note_id })'">글 수정</button> 
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-success btn-lg" onclick="location.href='/Note/Index'">글 목록으로</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.note_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
</div>

